<div class="display-6" style="padding-bottom: 0.5rem;">Insert a new order</div>
<div class="container">
    <div class="row gap-3">
        <div class="col-sm">
            <select class="form-select" aria-label="Packaging select" name="packaging-select" [(ngModel)]="newPackagingCode">
                <option [value]="undefined" [disabled]="true">Select a packaging</option>
                @for (packaging of packagings; track $index) {
                <option [value]="packaging.code">{{packaging.code}} - {{packaging.label}}</option>
                }
            </select>
        </div>
        <div class="d-flex justify-content-center align-items-center col-sm">
            <span class="input-group-btn">
                <button type="button" class="btn btn-outline-secondary btn-operation-minus"
                    [disabled]="newOrderQuantity <= 1" (click)="subctractOneQuantity($event)">
                    <i class="bi bi-dash-circle"></i>
                </button>
            </span>
            <input type="number" class="form-control input-number" 
                min="1" max="1000" id="quantity-input"
                onfocus="this.select()"
                [(ngModel)]="newOrderQuantity">
            <span class="input-group-btn">
                <button type="button" class="btn btn-outline-secondary btn-operation-plus"
                    (click)="addOneQuantity($event)">
                    <i class="bi bi-plus-circle"></i>
                </button>
            </span>
        </div>
        <div class="col-sm d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-success" 
                (click)="insertNewOrder(newPackagingCode, newOrderQuantity)"
                [disabled]="!(newOrderQuantity | canAddOrder)">
                <i class="bi bi-plus-lg"></i> Add packagings
            </button>
        </div>
    </div>

</div>