<div class="display-1" style="padding-bottom: 2rem;">Packaging Tracking System</div>

<div class="d-flex flex-column gap-5">

    <div class="d-flex flex-column gap-1">
        <h2 class="d-flex">Register Packages</h2>
        <div class="d-flex text-muted p-1">In the "Packagings" section, operators can easily handle packages that are stored in the warehouse, specifying their code and label.</div>
    </div>
    <div class="d-flex flex-column gap-1">
        <h2 class="d-flex">Manage Shipments</h2>
        <div class="d-flex text-muted p-1">In the "Orders" section, you can add new packages used during shipments and view a comprehensive report on package usage.</div>
    </div>
    <div class="d-flex flex-column gap-1">
        <h2 class="d-flex">Manager Notifications</h2>
        <div class="d-flex text-muted p-1">Notifications regarding package usage are sent directly to the warehouse manager via email through the apposite button, ensuring immediate and effective communication.</div>
    </div>

    <div class="d-flex flex-column h3">
        <span>Simple, fast, and efficient.</span>
        <span>Manage your warehouse packages without complications.</span>
    </div>
</div>
    
