<div class="d-flex flex-row gap-3 justify-content-between align-items-center">
    <div class="d-flex justify-content-center align-items-center">
        <div class="display-1" style="padding-bottom: 1rem;">Packagings</div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <p id="edit-toggle" class="link-
        primary" (click)="toggleEditMode()">
            @if (isEditModeOn) {
            <button type="button" class="btn btn-outline-secondary"><i class="bi bi-floppy-fill"></i> Stop</button>
            }
            @else {
            <button type="button" class="btn btn-outline-secondary"><i class="bi bi-pencil-fill"></i> Edit</button>
            }
        </p>
    </div>
</div>

<app-packagings-container [packagings]="(packagings$ | async) ?? []" [orders]="(orders$ | async) ?? []"
    [isInputMode]="isEditModeOn" (insertPackagingEvent)="addPackaging($event)"
    (deletePackagingEvent)="deletePackaging($event)">
</app-packagings-container>