<ul id="packagings-total-list">
    @for (packagingGroup of (orders | totalOrders); track $index) {
    @if (packagingGroup.type | packagingTypeToLabel:packagings) {
    <li>
        {{packagingGroup.type | packagingTypeToLabel:packagings}}: <span>{{packagingGroup.total}}</span>
    </li>
    }
    }
</ul>

<div>
    @if ((orders | ordersDateRange)) {
    {{(orders | ordersDateRange)!.minDate | date:'longDate'}}
    @if ( ((orders | ordersDateRange)!.minDate | date:'longDate') !== ((orders | ordersDateRange)!.maxDate |
    date:'longDate')) {
    - {{(orders | ordersDateRange)!.maxDate | date:'longDate'}}
    }
    }
</div>

<a class="d-none" #emailSender [href]="mailToHref"></a>

@if ((orders | totalOrders).length > 0) {
<button class="btn btn-primary" (click)="notifyManagerAndCleanOrders()">Notify manager</button>
}