<div class="display-1">Orders</div>

<app-orders-handler [packagings]="(packagings$ | async) ?? []"
    (insertOrderEvent)="addOrder($event)"></app-orders-handler>
@if (((orders$ | async) ?? []).length > 0) {
<div class="d-flex justify-content-center align-items-center w-100">
    <hr class="w-75" />
</div>

<app-orders-container [orders]="(orders$ | async) ?? []" [packagings]="(packagings$ | async) ?? []"
    (cleanOrdersEvent)="emptyOrder()"></app-orders-container>
<div class="container">
    <button class="btn btn-danger" type="button" (click)="openModal(content)"><i class="bi bi-trash3-fill"></i> Clean
        packagings
        list</button>
</div>
}

<!-- delete confirmation modal -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Clean orders</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <ngb-alert [dismissible]="false" type="warning">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <p>
                            <strong><i class="bi bi-exclamation-triangle-fill"></i> Warning!</strong>
                        </p>
                        <p>The action you're trying to perform is irreversible!</p>
                        <p>Are you sure you want to delete all the orders?</p>
                    </div>
                </ngb-alert>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Confirm</button>
    </div>
</ng-template>