<div class="container text-center gap-3">
    @if (!packagings || packagings.length === 0 && !isInputMode) {
    <div class="d-flex flex-column justify-content-center align-items-center gap-3">
        <div class="display-4">
            🤖 Hey!
        </div>
        <div class="display-4">
            Seems like no packaging is available!
        </div>
        <div class="display-6 text-muted">
            Try clicking the "edit" icon to insert a new one.
        </div>
    </div>
    }
    @else {
    <div class="row">
        <div class="col h5">
            Code
        </div>
        <div class="col h5">
            Label
        </div>
        @if (isInputMode) {
        <div class="col">
        </div>
        }
    </div>
    @for (packaging of packagings; track $index) {
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            {{packaging.code}}
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            {{packaging.label}}
        </div>
        @if (isInputMode) {
        <div class="col d-flex justify-content-center align-items-center">
            <i class="bi bi-trash3-fill text-danger edit-button" (click)="deletePackaging(packaging)"></i>
        </div>
        }
    </div>
    }
    @if (isInputMode) {
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <div class="form-floating">
                <input class="form-control form-control-sm" type="text" id="code-input" placeholder="Code"
                    [(ngModel)]="newPackagingCode">
                <label for="code-input">Code</label>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <div class="form-floating">
                <input class="form-control form-control-sm" type="text" id="label-input" placeholder="Label"
                    [(ngModel)]="newPackagingLabel">
                <label for="label-input">Label</label>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center align-items-center">
                <i class="bi bi-plus-circle-fill text-success edit-button"
                    (click)="insertPackaging(newPackagingCode, newPackagingLabel)"></i>
            </div>
        </div>
    </div>
    }
    }
</div>